:root {
  --header-color: #ffffff;
  --main-color-text: #212121;
  --second-color-text: #757575;
  --accent-color: #2196f3;
  --primary-title-color: #ffffff;
  --second-title-color: #212121;
  --current-color: #2196f3;
  --button-hover: #188CE8;
  --studio-background-black: #2F303A;
  --studio-background-white: #ffffff;
  --our-team--background-color: #F5F4FA;
  --footer-menu-contact: rgba(255, 255, 255, 0.6);
  --studio-dark : #000000;
  --portfolio-button-background: #F5F4FA;
  
  
}
body {
    font-family: "Roboto", sans-serif;
}
body {
    font-style: normal;
    font-weight: normal;
    color: var(--main-color-text);
    background-color: var(--header-color)
    
    
}

.list {
    list-style: none;

}
.link {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.studio-dark{
    color: var(--studio-dark);
}
.studio-light{
    color: var(--primary-title-color);
}
.list-menu{
    color: var(--main-color-text);
}

.menu-link.current{
    color: var(--current-color);
}
.header-button, .btn{
    display: inline-block;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.flex{
    display: flex;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* -------логотип-------*/
.page-header{
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
    
}
.header-navigation{
    align-items: center;

}
.header-logo {
    
    margin-right: 93px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    

}


.web{
    color: var(--accent-color);
}
.studio-dark:hover{
    color: var(--studio-dark);
}


/*---------меню навигации-------*/

.link-menu{
    align-items: center;
    text-align: center;
}
.menu-list{
    align-items: center;
    text-align: center;
}
.menu-link, .contact-list  {
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color:var(--main-color-text);
}

.menu-list:not(:last-child){
    margin-right: 50px;
}

.menu-link:hover, 
.menu-link:focus{
    color: var(--accent-color);
    }
.autorization-navigation{
    
    align-items: center;
    margin-left: auto;
    
} 
.contact-item:not(:last-child){
    margin-right: 50px;
}
.contact-list{
    color: var(--second-color-text);
}  

    
/* .contact-list:last-child{
    margin-right: 50px;
    text-align: left;
    color: var(--second-color-text);
    
} */
.contact-list:hover,
.contact-list:focus{    
    color: var(--accent-color);
    
}  

.contact-item :not(:last-child) {
    margin-right: 50px;
}  


/*----заголовок h1, + кнопка-----*/
.hero {
    margin: 0 auto;
    max-width: 1600px;
    padding: 200px 0;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color :var(--studio-background-black);
}
.section-header{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;   
    color: var(--primary-title-color)
    

}
.header-button {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: var(--primary-title-color);
    background-color: var(--accent-color);
}
.header-button:hover, 
.header-button:focus{
    color: var(--primary-title-color);
    background-color:var(--button-hover);
}
    


/* ----------Особенности-------- */

.text{
    padding-bottom: 0;
    background-color: var(--studio-background-white);
    
}
.page-text{
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.main-text{
    width: 270px;
    
}
.main-text:not(:first-child){
    margin-left: 30px;
}
.main-text-list{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--main-color-text);
}
.maim-text-item{
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
    color: var(--second-color-text)
}


/* -------чем мы занимаемся-------- */
.section .activity{
    padding-top: 0;
}
.activity-title{
    
    text-align: center;
}
.activity-list{
    justify-content: center;
    margin-top: 50px;
}


.activity-title,.team-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: none;

    color: var(--main-color-text)
}
.activity-item:not(:last-child){
    margin-right: 30px;
}
.activity-item :first-child{
    margin-right: 0;
}
/* --------команда--------- */

.team{
    background-color: var(--our-team--background-color);
}
.team-title{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

}
.team-box{
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
}
.list-menu{
    margin-top: 50px;
    justify-content: center;

}
.team-list{
    text-align: center;
    
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-title-color);
}
.team-list:not(:last-child){
    margin-right: 30px;
}
/* .card-text{
    padding: 20px 30px;
    text-align: center;
} */

.team-subtitle{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--main-color-text)


}
.team-text{
    
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    /* padding-top: 10px;
    padding-bottom: 30px; */

    color: var(--second-color-text)
}
/* .list-menu .team-list :not(:last-child){
    margin-right: 30px; */
    

/* .team-subtitle .team-text{
    padding: 30px 0; */

/*--------фильтры портфолио */
.menu-btn{
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-btn:not(:last-child){
    margin-right: 8px;
}

.btn{
    height: 38px;
    min-width: 73px;
    min-width:auto;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color:var(--main-color-text);
    background-color: var(--portfolio-button-background);
    
    
}
   
.btn:hover, 
.btn:focus{
   color: var(--primary-title-color);
   background-color: var(--button-hover);
    
}
    

.projects-list{
    justify-content: center;
    flex-wrap: wrap;
} 
.project-link{
    width: 370px;
    margin-right: 30px;
    margin-top: 30px;
}
.project-link:nth-child(3n){
    margin-right: 0px;
}
.project-link:nth-last-child(-n + 3){
    margin-bottom: 0px;
}
.project-info{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}
.projects-text{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;

    color: var(--main-color-text)

}
.projects-item{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: var(--second-color-text)
}



/* ---------подвал------- */
.footer{
    
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--studio-background-black)
    
}
.footer-logo{
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: block;
}
.address{
    font-style: normal;
    margin-top: 20px;
}
.nav-item:not(:last-child){
    margin-bottom: 9px;
}

.menu-contact {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-menu-contact);
}  

}
    .menu-contact:hover,
    .menu-contact:focus{
        color: var(--accent-color) ;
    }
    
.map{
    text-decoration: none;
    color: var(--primary-title-color)
    
}






/*main color text #212121*/
/*second color text #757575*/
/*accent color #2196F3 */
/*white color #FFFFFF*/
/*вторичный цвет фона #2F303A*/
/*цвет логотипа Web-#2196F3*/
/*------------header-navigation----------*/
